.App {
  text-align: center;
}

.heading {
  border: 5px solid #900C3F;
  text-align: center;
  /**width: 450px;**/
  display: block;
}

.custom-button{
  background-color: red !important;
  color: white !important;
}

.add-calories h1{
  color: #900C3F;
}

.add-calories {
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: burlywood;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  padding: 25px 15px;
}

.report{
  position: fixed ;
  top: 20% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center;
}


